<nav class="pagination" [attr.aria-label]="'pagination.label' | translate">
  <button
    class="pagination__btn pagination__btn--nav"
    [class.pagination__btn--disabled]="!hasPrevious"
    [disabled]="!hasPrevious"
    (click)="previous()"
    [attr.aria-label]="'pagination.previous' | translate"
  >
    ‹
  </button>

  @for (page of pages; track $index) {
    @if (page === '...') {
      <span class="pagination__ellipsis">…</span>
    } @else {
      <button
        class="pagination__btn"
        [class.pagination__btn--active]="page === currentPage"
        (click)="goTo(page)"
        [attr.aria-current]="page === currentPage ? 'page' : null"
        [attr.aria-label]="('pagination.page' | translate) + ' ' + page"
      >
        {{ page }}
      </button>
    }
  }

  <button
    class="pagination__btn pagination__btn--nav"
    [class.pagination__btn--disabled]="!hasNext"
    [disabled]="!hasNext"
    (click)="next()"
    [attr.aria-label]="'pagination.next' | translate"
  >
    ›
  </button>
</nav>
